# Merge Google API Scraped
#### Use to merge all of the files generated when scraping them using Google API (EV Chargers) - GeoJson. Also appended to the end of each row is the current date and source (Google API). As they are helpful in determining the reliability of the data on the website.
#### Finally also add source and source date to all columns Goggle API and current date

In [59]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import timedelta

In [78]:
#Specify the number of files containing locations
count = 35

# Replace location with place you wish to read from
location = 'Files/'
# Replace name with whatever name you used
name = 'test_name'

df = pd.DataFrame()
all_df = []

In [79]:
for i in range(1, count):
    df = pd.read_csv(location+name+str(i-1)+".csv")
    all_df.append(df)

df = pd.concat(all_df)

In [80]:
df = df.drop("Unnamed: 0",axis=1)
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [81]:
df

,name,address,description,location_category,location_sub_category,open_date,pricing,free_use,latitude,longitude,...,renewable_power_supply,CHAdeMO,Tesla_std,Tesla_Fast,Tesla_Roadster,CCS_SAE,J1772,Type2,Commando,Wall_AU
0,Tesla Destination Charger,"1 Goldie St, Wynyard",not defined,not defined,not defined,not defined,not defined,not defined,-40.988152,145.735257,...,not defined,0,0,0,0,0,0,0,0,0
1,Electric Vehicle Charging Station,"Spring St, Burnie",not defined,not defined,not defined,not defined,not defined,not defined,-41.056062,145.906293,...,not defined,0,0,0,0,0,0,0,0,0
2,Chargefox Charging Station,"North Terrace, Burnie",not defined,not defined,not defined,not defined,not defined,not defined,-41.049935,145.907212,...,not defined,0,0,0,0,0,0,0,0,0
3,Electric Vehicle Charging Station,Park Grove,not defined,not defined,not defined,not defined,not defined,not defined,-41.058222,145.880088,...,not defined,0,0,0,0,0,0,0,0,0
4,Tesla Destination Charger,"39 Sice Ave, Heybridge",not defined,not defined,not defined,not defined,not defined,not defined,-41.076067,145.989026,...,not defined,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,Electric Vehicle Charging Station,"28 Railway Terrace, Alice Springs",not defined,not defined,not defined,not defined,not defined,not defined,-23.697606,133.878763,...,not defined,0,0,0,0,0,0,0,0,0
1110,OutbackEV,"28 Railway Terrace, Alice Springs",not defined,not defined,not defined,not defined,not defined,not defined,-23.698298,133.878552,...,not defined,0,0,0,0,0,0,0,0,0
1111,Tesla Destination Charger,"1 Hutchison St, Coober Pedy",not defined,not defined,not defined,not defined,not defined,not defined,-29.010617,134.754321,...,not defined,0,0,0,0,0,0,0,0,0
1112,Tesla Destination Charger,"Lot 1603 Hutchison St, Coober Pedy",not defined,not defined,not defined,not defined,not defined,not defined,-29.022270,134.758500,...,not defined,0,0,0,0,0,0,0,0,0
1113,Tesla Destination Charger,"66/76 McKenzie St, Ceduna",not defined,not defined,not defined,not defined,not defined,not defined,-32.122977,133.684695,...,not defined,0,0,0,0,0,0,0,0,0

In [88]:
df.to_csv(name+"_Merged.csv", index=False)

## Additional step was required to translate some previously collected data over to a new dataframe structure
#### Can use for example if other found datasets need to be transformed

In [82]:
#df = df.drop(columns=["location_category", "location_sub_category", "open_date", "free_use", "port_level_type", "manufacturer", "power_output_volts", "power_output_amps", "Tesla_Fast", "Tesla_Roadster"],axis=1)

#df = df.rename(columns={"network": "networks", 
#                  "port_count": "total_plugs", 
#                  "CHAdeMO": "Plugs_CHAdeMO", 
#                  "Tesla_std": "Plugs_Tesla",
#                  "CCS_SAE": "Plugs_CCS_SAE",
#                  "J1772": "Plugs_J1772",
#                  "Type2": "Plugs_Type2",
#                  "Commando": "Plugs_Commando",
#                  "Wall_AU": "Plugs_Wall_AU_NZ",
#                 })

#df["parking"] = np.nan
#df["description"] = np.nan
#df["pricing"] = np.nan
#df["renewable_power_supply"] = np.nan
#df["networks"] = np.nan
#df["contact"] = np.nan
#df["Plugs_Three_Phase"] = 0
#df["Plugs_Caravan_Mains_Socket"] = 0
#df["Plugs_Other"] = 0
#df["power_outputs_kw"] = np.nan
#df["source"] = "Google_API"

#today = date.today()
#df["source_date"] = today.strftime("%d/%m/%Y")

In [83]:
#df = df[["name", "address", "longitude", "latitude", "description", "parking", "pricing", "contact",
#    "networks", "total_plugs", "renewable_power_supply", "Plugs_CHAdeMO", "Plugs_Tesla", "Plugs_CCS_SAE", 
#    "Plugs_J1772", "Plugs_Type2", "Plugs_Three_Phase", "Plugs_Commando", "Plugs_Wall_AU_NZ",
#    "Plugs_Caravan_Mains_Socket", "Plugs_Other", "power_outputs_kw", "source", "source_date"]]

In [85]:
df

,name,address,longitude,latitude,description,parking,pricing,contact,networks,total_plugs,...,Plugs_J1772,Plugs_Type2,Plugs_Three_Phase,Plugs_Commando,Plugs_Wall_AU_NZ,Plugs_Caravan_Mains_Socket,Plugs_Other,power_outputs_kw,source,source_date
0,Tesla Destination Charger,"1 Goldie St, Wynyard",145.735257,-40.988152,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
1,Electric Vehicle Charging Station,"Spring St, Burnie",145.906293,-41.056062,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
2,Chargefox Charging Station,"North Terrace, Burnie",145.907212,-41.049935,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
3,Electric Vehicle Charging Station,Park Grove,145.880088,-41.058222,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
4,Tesla Destination Charger,"39 Sice Ave, Heybridge",145.989026,-41.076067,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,Electric Vehicle Charging Station,"28 Railway Terrace, Alice Springs",133.878763,-23.697606,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
1110,OutbackEV,"28 Railway Terrace, Alice Springs",133.878552,-23.698298,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
1111,Tesla Destination Charger,"1 Hutchison St, Coober Pedy",134.754321,-29.010617,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
1112,Tesla Destination Charger,"Lot 1603 Hutchison St, Coober Pedy",134.758500,-29.022270,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022
1113,Tesla Destination Charger,"66/76 McKenzie St, Ceduna",133.684695,-32.122977,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,NaN,Google_API,22/08/2022