In [5]:
import json
import os
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from pandas.io.json import json_normalize

In [44]:
df_all = pd.DataFrame()
directory = './data/GB'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        with open(f) as file:
            d = json.load(file)
            out = pd.json_normalize(d,record_path='Connections',
                        meta=['ID', 'UsageCost','OperatorID','StatusTypeID','NumberOfPoints','UsageTypeID',
                              ['AddressInfo', 'Title'],
                              ['AddressInfo','Town'],
                              ['AddressInfo','AddressLine1'],
                              ['AddressInfo','StateOrProvince'],
                              ['AddressInfo','Postcode'],
                              ['AddressInfo','Latitude'],
                              ['AddressInfo','Longitude']],
                        record_prefix='con-',
                        errors='ignore')
            df_all = df_all.append(out)

In [45]:
df_all.shape

(20690, 24)

In [46]:
df_all.loc[(df_all['con-ConnectionTypeID'] == 30), 'con-ConnectionTypeID'] = 'Tesla (Model S/X)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 7), 'con-ConnectionTypeID'] = 'Avcon Connector'
df_all.loc[(df_all['con-ConnectionTypeID'] == 4), 'con-ConnectionTypeID'] = 'Blue Commando (2P+E)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 3), 'con-ConnectionTypeID'] = 'BS1363 3 Pin 13 Amp'
df_all.loc[(df_all['con-ConnectionTypeID'] == 32), 'con-ConnectionTypeID'] = 'CCS (Type 1)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 33), 'con-ConnectionTypeID'] = 'CCS (Type 2)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 16), 'con-ConnectionTypeID'] = 'CEE 3 Pin'
df_all.loc[(df_all['con-ConnectionTypeID'] == 17), 'con-ConnectionTypeID'] = 'CEE 5 Pin'
df_all.loc[(df_all['con-ConnectionTypeID'] == 28), 'con-ConnectionTypeID'] = 'CEE 7/4 - Schuko - Type F'
df_all.loc[(df_all['con-ConnectionTypeID'] == 18), 'con-ConnectionTypeID'] = 'CEE+ 7 Pin'
df_all.loc[(df_all['con-ConnectionTypeID'] == 2), 'con-ConnectionTypeID'] = 'CHAdeMO'
df_all.loc[(df_all['con-ConnectionTypeID'] == 13), 'con-ConnectionTypeID'] = 'Europlug 2-Pin (CEE 7/16)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1038), 'con-ConnectionTypeID'] = 'GB-T AC - GB/T 20234.2 (Socket)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1039), 'con-ConnectionTypeID'] = 'GB-T AC - GB/T 20234.2 (Tethered Cable)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1040), 'con-ConnectionTypeID'] = 'GB-T DC - GB/T 20234.3'
df_all.loc[(df_all['con-ConnectionTypeID'] == 34), 'con-ConnectionTypeID'] = 'IEC 60309 3-pin'
df_all.loc[(df_all['con-ConnectionTypeID'] == 35), 'con-ConnectionTypeID'] = 'IEC 60309 5-pin'
df_all.loc[(df_all['con-ConnectionTypeID'] == 5), 'con-ConnectionTypeID'] = 'LP Inductive'
df_all.loc[(df_all['con-ConnectionTypeID'] == 10), 'con-ConnectionTypeID'] = 'NEMA 14-30'
df_all.loc[(df_all['con-ConnectionTypeID'] == 11), 'con-ConnectionTypeID'] = 'NEMA 14-50'
df_all.loc[(df_all['con-ConnectionTypeID'] == 22), 'con-ConnectionTypeID'] = 'NEMA 5-15R'
df_all.loc[(df_all['con-ConnectionTypeID'] == 23), 'con-ConnectionTypeID'] = 'NEMA 6-20'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1042), 'con-ConnectionTypeID'] = 'NEMA TT-30R'
df_all.loc[(df_all['con-ConnectionTypeID'] == 36), 'con-ConnectionTypeID'] = 'SCAME Type 3A (Low Power)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 26), 'con-ConnectionTypeID'] = 'SCAME Type 3C (Schneider-Legrand)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 6), 'con-ConnectionTypeID'] = 'SP Inductive'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1037), 'con-ConnectionTypeID'] = 'T13 - SEC1011 ( Swiss domestic 3-pin ) - Type J'
df_all.loc[(df_all['con-ConnectionTypeID'] == 8), 'con-ConnectionTypeID'] = 'Tesla (Roadster)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 31), 'con-ConnectionTypeID'] = 'Tesla Battery Swap'
df_all.loc[(df_all['con-ConnectionTypeID'] == 27), 'con-ConnectionTypeID'] = 'Tesla Supercharger'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1041), 'con-ConnectionTypeID'] = 'Three Phase 5-Pin (AS/NZ 3123)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1), 'con-ConnectionTypeID'] = 'Type 1 (J1772)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 25), 'con-ConnectionTypeID'] = 'Type 2 (Socket Only)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 1036), 'con-ConnectionTypeID'] = 'Type 2 (Tethered Connector)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 29), 'con-ConnectionTypeID'] = 'Type I (AS 3112)'
df_all.loc[(df_all['con-ConnectionTypeID'] == 0), 'con-ConnectionTypeID'] = 'Unknown'
df_all.loc[(df_all['con-ConnectionTypeID'] == 24), 'con-ConnectionTypeID'] = 'Wireless Charging'
df_all.loc[(df_all['con-ConnectionTypeID'] == 21), 'con-ConnectionTypeID'] = 'XLR Plug (4 pin)'

In [47]:
df_all.loc[(df_all['con-StatusTypeID'] == 0), 'con-StatusTypeID'] = 'Unknown'
df_all.loc[(df_all['con-StatusTypeID'] == 10), 'con-StatusTypeID'] = 'Currently Available (Automated Status)'
df_all.loc[(df_all['con-StatusTypeID'] == 20), 'con-StatusTypeID'] = 'Currently In Use (Automated Status)'
df_all.loc[(df_all['con-StatusTypeID'] == 30), 'con-StatusTypeID'] = 'Temporarily Unavailable'
df_all.loc[(df_all['con-StatusTypeID'] == 50), 'con-StatusTypeID'] = 'Operational'
df_all.loc[(df_all['con-StatusTypeID'] == 75), 'con-StatusTypeID'] = 'Partly Operational (Mixed)'
df_all.loc[(df_all['con-StatusTypeID'] == 150), 'con-StatusTypeID'] = 'Planned For Future Date'
df_all.loc[(df_all['con-StatusTypeID'] == 100), 'con-StatusTypeID'] = 'Not Operational'
df_all.loc[(df_all['con-StatusTypeID'] == 200), 'con-StatusTypeID'] = 'Removed (Decommissioned)'
df_all.loc[(df_all['con-StatusTypeID'] == 210), 'con-StatusTypeID'] = 'Removed (Duplicate Listing)'

In [52]:
dfUK = df_all

In [42]:
dfUK.to_csv('uk_location.csv',index=False)

In [56]:
london_locations_df = dfUK[(dfUK['AddressInfo.Town'] == 'London')]
london_locations_df.head()

,con-ID,con-ConnectionTypeID,con-StatusTypeID,con-LevelID,con-Amps,con-Voltage,con-PowerKW,con-CurrentTypeID,con-Quantity,ID,...,UsageTypeID,AddressInfo.Title,AddressInfo.Town,AddressInfo.AddressLine1,AddressInfo.StateOrProvince,AddressInfo.Postcode,AddressInfo.Latitude,AddressInfo.Longitude,con-Reference,con-Comments
0,266418.0,Type 2 (Socket Only),Operational,2.0,16.0,230.0,3.7,10.0,NaN,173393,...,1,38 King Henry's Road,London,38 King Henry's Road,NaN,NW3 3RP,51.542602,-0.159085,suby1100003700,NaN
0,140860.0,CCS (Type 2),Operational,3.0,NaN,NaN,50.0,30.0,1.0,99704,...,4,376 Hendon Way,London,376 Hendon Way,NaN,NW4 3LP,51.581303,-0.226801,NaN,NaN
1,140861.0,CHAdeMO,Operational,3.0,NaN,NaN,50.0,30.0,1.0,99704,...,4,376 Hendon Way,London,376 Hendon Way,NaN,NW4 3LP,51.581303,-0.226801,NaN,NaN
2,140862.0,Type 2 (Tethered Connector),Operational,3.0,63.0,400.0,43.0,20.0,1.0,99704,...,4,376 Hendon Way,London,376 Hendon Way,NaN,NW4 3LP,51.581303,-0.226801,NaN,NaN
0,190711.0,Type 2 (Socket Only),Operational,2.0,16.0,230.0,3.7,10.0,NaN,136275,...,5,63-79 Seymour Street,London,63-79 Seymour Street,NaN,W2 2JJ,51.513954,-0.162314,suby1100002555,NaN